$sidebar-width: 120px;

:host {
    display: block;
    min-height: inherit;
    height: 100%;
}

.sidebar {
    z-index: 10;
    width: $sidebar-width;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
