$nav-item-height: 44px;

header {
    display: flex;
    height: 88px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
}

h1 {
    font-family: 'PTBandocheB';
    font-size: 20px;
}

.gnb {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gnb_item {
    display: flex;
    width: 100%;
    height: $nav-item-height;
    justify-content: center;
    align-items: center;
    color: #666;
    cursor: pointer;

    transition: all 0.2s ease-in;

    &:hover {
        color: #111;
    }
}